Repository hpc/mpifileutils, pull requests merged in 2021-04, with the labels that each got.

#471 daos: fix bug in cont create
  src/common/mfu_daos.c
Labels: bug, daos

#465 daos: update documentation
  DAOS-Support.md
  README.md
  doc/rst/build.rst
Labels: daos, documentation

#476 daos: fix root path bug
  src/common/mfu_io.c
  src/common/mfu_param_path.c
Labels: daos

#475 daos: bugs and error messages
  src/common/mfu_daos.c
  src/dcp/dcp.c
Labels: daos

#473 daos: drm, dfind, and dwalk support
  doc/rst/dfind.1.rst
  src/common/mfu_daos.c
  src/common/mfu_daos.h
  src/dcmp/dcmp.c
  src/dcp/dcp.c
  src/dfind/dfind.c
  src/drm/drm.c
  src/dsync/dsync.c
  src/dwalk/dwalk.c
Labels: daos

#477 serialization optimizations: write single val to akey dset
  src/common/mfu_daos.c
  src/common/mfu_daos.h
Labels: daos
